html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

.menubar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #da6a6a;
    margin: 0;
    top: 0;
    height: 50px; 
    padding: 0 20px; 
}

.sectionicon{
    height: 90%;
}

.sectionicon img {
    height: 100%; 
    margin: 0;
}

.sectionfilter {
    margin: 0;
    display: flex; 
    align-items: center;
}

.sectionfilter .arboles,
.sectionfilter .parques {
    margin: 0px; 
    padding-left: 200px;
  	padding-right: 200px;
}

.sectionlogin {
    margin: 0;
}
.sectionfilter{
    height: 100%;
}
.navbutton{
    height: 100%;
}
.navbutton :hover{
    background-color: aqua;
}

.sidebar{
    background-color: green;
    left: 0;
    width: 12%;
    height: 100%;
    text-align: center;
}
.mostvisited{
	text-align: center;
}

.mostvisited a {
    display: block; 
    text-decoration: none;
    color: black;
}

.mostvisited a:hover{
    color: #4863A0;
}

.container {
    display: flex;
    flex-grow: 1;
    height: 100%
}
.mainContent {
    flex-grow: 1;
    padding: 20px;
}
